
.descripProduct {
    div {
    }
    button {
        background-color: #FFE411;
        font-size: 15px;
        margin: 0 10px;
        width: 120px;
        padding: 8px;
    }
    img {
        width: 200px;
    }
}