.Item {
    font-size: 37px;
    text-align: center;
    button {
        background-color: #FFE411;
        font-size: 15px;
        margin: 0 10px;
        width: 120px;
        padding: 8px;
    }
}

.descripProduct {
    img {
        width: 200px;
    }
}