.inicio {
    margin-top: 32px;
    background-image: url(../../img/background.jpg);
    background-size: cover;
    background-position: center;

    img {
        width: 100%;
        margin: 4rem 0rem; 
    }

    h2 {
        display: flex;
        height: 100%;
        align-items: center;
        margin: 0 3rem;
        padding: 3rem 0;
        font-size: 5.5rem;
        color: white;
        text-shadow: 1px 2px 2px black;
        @media only screen and (max-width: 1024px) {
            font-size: 4rem;
        }
        @media only screen and (max-width: 768px) {
            font-size: 2.7rem;
        }
        @media only screen and (max-width: 576px) {
            margin: 0;
            padding: 0 0 1rem;
            font-size: 25px;
            justify-content: center;
        }
    } 

    .header__img__icowp {
        position: fixed;
        width: 100px;
        bottom: -70px;
        right: 0px;
        z-index: 2;

        @media only screen and (max-width: 425px) {
            width: 70px;
            bottom: -50px;
            right: 0px;
        }
    }
    .header__img__icoinsta {
        position: fixed;
        width: 100px;
        bottom: 20px;
        right: 0px;
        z-index: 2;
        @media only screen and (max-width: 425px) {
            width: 70px;
            bottom: 15px;
            right: 0px;
        }
    }
}