.titulo {
    float: left;
    margin: 0;  
    color: #ffe411;
    font-weight: bold;
    text-shadow: 1px 2px 2px black;
    font-size: 1.5rem;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: inherit;
    background-image: linear-gradient(hsl(164, 100%, 30%), #00c892);
    height: 50px;
    a {
        color: white;        
    }
    p {
        color: white;
        font-weight: bold;
        text-shadow: 1px 2px 2px black;
        margin: 0 1.5rem;
        font-size: 1.2rem;
    }
    :hover {
        color: #ffe411;
        text-decoration: none;
    }
}

.cantCompra {
    position: absolute;
    border-radius: 10rem;
    top: 2px;
    right: -5px;
}
