.itemCount {
    margin: 0px 35%;
    width: 30%;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;    
    
    button {
        background-color: #FFE411;
        font-size: 25px;
        height: 45px;
        width: 15%;
    }
    input {
        color: black;
        font-weight: bold;
        font-size: 18px;
        width: 100px;
        height: 40px;
        text-align: center;
        border: 1px black solid;
        background-color: blanchedalmond;
    } 
    
}

