.itemCount {
    margin: 0px 35%;
    width: 30%;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: contents;   
    
    button {
        background-color: #FFE411;
        font-size: 25px;
        height: 45px;
        margin: 10px;
        border-radius: 30px;
        width: 250px;
    }
    input {
        color: black;
        font-weight: bold;
        font-size: 18px;
        width: 100px;
        height: 45px;
        text-align: center;
        border: 1px black solid;
        background-color: blanchedalmond;
        padding-top: 7px;
        border-radius: 30px;
    } 

    .buttonCount {
        width: 50px;
    }
    
}

