.itemCount {
    margin: 0px 35%;
    width: 30%;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;    
    border: 1px black solid;
    button {
        background-color: #FFE411;
        font-size: 25px;
        height: 45px;
        width: 15%;
    }
    input {
        width: 70%;
        height: 30px;
        text-align: center;
    
    } 
    
}

