div {    
    text-align: center;
}

.products {
    display: inline-block;    
    text-align: center;
    margin: 10px;
    border: 1px black solid;
    width: 300px;
    height: fit-content;
    img {
        border: 1px black solid;
        width: 200px;
        height: 200px;
    }
    p {
        
        display: inherit;
        padding: 5px;
        width: 280px;
        height: 150px;
    }
    div {
        background-color: yellow;
        border: 1px black solid;
        margin: 5px 40px;
    }
}